.flex {
    display: flex; 
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center; 
}

.flex-end {
	margin-left: auto;
}

.name-header {
    font-size: 2.75rem;
	margin: 0.25em;
	line-height: 1;
	
}

.nav-divider {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.hero {
    justify-content: center;
}

#hero-left-section {
    margin-left: 4rem;
}

#hero-text {
    text-align: center;
    font-size: 3rem;
    margin-top: 15rem;
}

#hero-button-link {
    width: auto;
    align-self: center;
}

.hero-button {
    padding: 0.8rem 2.2rem 0.8rem 2.2rem;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 3.125rem;
    border-color: black;
    background-color: white;
    transition-timing-function: ease-in-out;
    transition-duration: 0.13s;
}

.hero-button-hover {
    color: white;
    background-color: black;
}

#navbar {
    margin: 0;
    h2 {
        margin: 0 0 0 1rem !important;
    }
}

#links a {
	cursor: pointer;
    position: relative;
    text-decoration: none;
	color: inherit;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 1.65rem 0 1.65rem;
}

#links a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: currentcolor;
    bottom: -1rem;
    left: 0;
    transform: scaleX(0);
    transition: ease-in-out 0.2s;
    transform-origin: left;
}

#links a:hover::before {
    transform: scaleX(1);
}

